@model SeaOfShops.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center display-4">Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>@*
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shop.ShopName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shop.StoreAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.StoreAddress)
        </dd>
        <dt class="col-sm-2">
            Store Administrator
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shop.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
